 
{{#if productos.length}}
<table class="table" style="color: rgb(180, 64, 10);">
    
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    {{#each productos}}
        <tbody style="line-height: 50px;">
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td><img style="width: 10%;" src={{this.photo}} alt=""></td>
        </tbody>
    {{/each}}
</table>
{{else}}
<h4>No hay productos en la lista</h4>
{{/if}}